<h1>Bienvenido a clinica veterinaria</h1>
<p>Por favor ingrese al menú de su preferencia</p>

<ul>
    <li><%= link_to "Clientes", clients_path%></li>
    <li><%= link_to "Mascotas", pets_path%></li>
    <li><%= link_to "Historial", stories_path%></li>
</ul>
